{% load widget_tweaks %}

<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-primary btn-block mb-4 mt-4" data-toggle="modal"
        data-target="#MachiningModal">
    Создать механообработку
</button>


<!-- Modal -->
<div class="modal fade" id="MachiningModal" tabindex="-1" role="dialog"
     aria-labelledby="MachiningModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="MachiningModalLabel">Создание механообработки</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% render_field machining_sub_form.start_date.label_tag %}
                {% render_field machining_sub_form.start_date class='form-control mb-4' %}
                {% render_field machining_sub_form.machine_time.label_tag %}
                {% render_field machining_sub_form.machine_time class='form-control mb-4' %}
            </div>
            <div class="modal-footer">
{#                <button type="button" class="btn btn-secondary" data-dismiss="modal">#}
{#                    Закрыть#}
{#                </button>#}
                <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">
                    Сохранить
                </button>
            </div>
        </div>
    </div>
</div>
