{% load widget_tweaks %}

<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-primary btn-block mb-4" data-toggle="modal"
        data-target="#SurfacingModal">
    Создать наплавку
</button>


<!-- Modal -->
<div class="modal fade" id="SurfacingModal" tabindex="-1" role="dialog"
     aria-labelledby="SurfacingModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="SurfacingModalLabel">Создание наплавки</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% render_field surfacing_sub_form.amount_of_material.label_tag %}
                {% render_field surfacing_sub_form.amount_of_material class='form-control mb-4' %}

                {% render_field surfacing_sub_form.type_of_consumables.label_tag %}
                {% render_field surfacing_sub_form.type_of_consumables class='form-control mb-4' %}

                {% render_field surfacing_sub_form.robot_work_time.label_tag %}
                {% render_field surfacing_sub_form.robot_work_time class='form-control mb-4' %}

                {% render_field surfacing_sub_form.start_date.label_tag %}
                {% render_field surfacing_sub_form.start_date class='form-control mb-4' %}
            </div>
            <div class="modal-footer">
{#                <button type="button" class="btn btn-secondary" data-dismiss="modal">#}
{#                    Закрыть#}
{#                </button>#}
                <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">
                    Сохранить
                </button>
            </div>
        </div>
    </div>
</div>
