{% extends 'base.html' %}
{#TODO: Доделать оформление формы#}
{% load static %}
{% block static %}
    <meta charset="UTF-8">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/moment.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'js/locale_ru.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
{% endblock %}


{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                        <form role="form" class="form-control-lg mt-4" method="post" id="gouging_form"
                              action="{% url 'IS:add_gouging' %}">
                            {% csrf_token %}
                            <h2 class="form-signin-heading">Добавить наплавку</h2>
                            {% csrf_token %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            {% for field in form.visible_fields %}
                                {{ field.errors }}
                                {{ field.help_text }} <br>
                                {{ field }} <br>
                            {% endfor %}
                            <button class="btn btn-primary mt-2" type="submit">Добавить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block scripts %}
        <script>
            $(function () {
                $('#example').datetimepicker(
                    {
                        locale: moment.locale('locale_ru.js'),
                        showClear: true,
                        showTodayButton: true,
                    }
                );
            });
        </script>
    {% endblock %}
{% endblock %}