{% extends 'base.html' %}
{#TODO: Доделать оформление формы#}
{% load static %}
{% load widget_tweaks %}
{% block static %}
    <meta charset="UTF-8">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/moment.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'js/locale_ru.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}

{% block title %}
    <title>Добавить главную таблицу</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-md-center">
            <form class="m-2" method="post" action="{% url 'IS:add_primary_table' %}" novalidate>
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-sm-6">
                        {% render_field form.number.label_tag %}
                        {% render_field form.number class='form-control mb-4' placeholder=form.number.help_text %}
                        {% render_field form.letter.label_tag %}
                        {% render_field form.letter class='form-control mb-4' placeholder=form.letter.help_text %}
                        {% render_field form.received_stamp_date.label_tag %}
                        {% render_field form.received_stamp_date class='form-control mb-4' placeholder=form.received_stamp_date.help_text %}
                        {% render_field form.customer.label_tag %}
                        {% render_field form.customer class='form-control mb-4' placeholder=form.customer.help_text %}
                    </div>
                    <div class="form-group col-sm-6">
                        {% render_field form.gouging.label_tag %}
                        {% render_field form.gouging class='form-control mb-4' placeholder=form.gouging.help_text %}
                        {% render_field form.surfacing.label_tag %}
                        {% render_field form.surfacing class='form-control mb-4' placeholder=form.surfacing.help_text %}
                        {% render_field form.heat_treatment.label_tag %}
                        {% render_field form.heat_treatment class='form-control mb-4' placeholder=form.heat_treatment.help_text %}
                        {% render_field form.machining.label_tag %}
                        {% render_field form.machining class='form-control mb-4' placeholder=form.machining.help_text %}
                    </div>
                    <div class="form-check m-2">
                        <span class="material_design_checkbox_label">Чертёж</span>
                        {% render_field form.scheme type="checkbox" id="cbx" style="display: none;" %}
                        {#                        <input type="checkbox" id="cbx" style="display: none;">#}
                        <label for="cbx" class="check">
                            <svg width="18px" height="18px" viewBox="0 0 18 18">
                                <path d="M1,9 L1,3.5 C1,2 2,1 3.5,1 L14.5,1 C16,1 17,2 17,3.5 L17,14.5 C17,16 16,17 14.5,17 L3.5,17 C2,17 1,16 1,14.5 L1,9 Z"></path>
                                <polyline points="1 9 7 14 15 4"></polyline>
                            </svg>
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block">Создать</button>
            </form>
        </div>
    </div>
    {% block scripts %}
        <script>
            $(function () {
                $('#example').datetimepicker(
                    {
                        locale: moment.locale('locale_ru.js'),
                        showClear: true,
                        showTodayButton: true,
                    }
                );
            });
        </script>
    {% endblock %}
{% endblock %}