{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm text-light mt-4">
                {% if tables %}

                    <table class="table table-hover table-bordered table-dark ">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Номер оснастки</th>
                            <th scope="col">Литера</th>
                            <th scope="col">Строжка</th>
                            <th scope="col">Наплавка</th>
                            <th scope="col">Термообработка</th>
                            <th scope="col">Механообработка</th>
                            <th scope="col">Дата поступления штампа</th>
                            <th scope="col">Заказчик</th>
                            <th scope="col">Чертёж</th>
                        </tr>
                        </thead>

                        {% for table in tables %}
                            <tbody>
                            <tr>
                                <th scope="row">{{ table.id }}</th>
                                <td>{{ table.number }}</td>
                                <td>{{ table.letter }}</td>
                                <td>{{ table.gouging }}</td>
                                <td>{{ table.surfacing }}</td>
                                <td>{{ table.heat_treatment }}</td>
                                <td>{{ table.machining }}</td>
                                <td>{{ table.received_stamp_date }}</td>
                                <td>{{ table.customer }}</td>
                                <td>{{ table.scheme }}</td>
                            </tr>

                            </tbody>
                        {% endfor %}
                    </table>
                {% else %}
                    <p class="display-1 text-center">Таких таблиц нет!</p>
                {% endif %}
            </div>
            <!-- /.col-sm -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->


{% endblock %}